contourpy
cycler
fonttools
kiwisolver
matplotlib
mysql-connector-python
numpy
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
six
tzdata
# Production dependencies
django
gunicorn
whitenoise
dj-database-url
python-dotenv
psycopg2-binary
django-bootstrap-v5
